<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title>상영관 리스트</title>
</head>
<body>
<h1>상영관 리스트</h1>
<form th:action="@{/admin/screens/create}" method="get">
    <button type="submit">상영관 생성</button>
</form>

<ul>
    <li th:each="screen : ${screens.content}">
        <span>ID: <span th:text="${screen.id}"></span></span> -
        <span>이름: <span th:text="${screen.name}"></span></span>
        <form th:action="@{/admin/screens/{id}(id=${screen.id})}" method="get">
            <button type="submit">상영관 상세</button>
        </form>
        <form th:action="@{/admin/screens/{id}(id=${screen.id})}" method="post" style="display:inline;">
            <input type="hidden" name="_method" value="delete"/>
            <button type="submit" onclick="return confirm('정말 삭제하시겠습니까?');">삭제</button>
        </form>
    </li>
</ul>
</body>
</html>