<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상영정보 등록</title>
</head>
<body>

<h1>상영정보 등록</h1>
<h3 th:text="|'${screenId}'번 상영관|">상영관 ID</h3>

<form th:action="@{/admin/showings}" method="post">
    <input type="hidden" name="screenId" th:value="${screenId}">

    <div>
        <label for="movieId">영화 ID:</label>
        <input type="number" id="movieId" name="movieId" required>
    </div>

    <div>
        <label for="showingDate">상영 날짜:</label>
        <input type="date" id="showingDate" name="showingDate" required>
    </div>

    <div>
        <label for="startTime">시작 시간:</label>
        <input type="time" id="startTime" name="startTime" required>
    </div>

    <div>
        <label for="price">가격:</label>
        <input type="number" id="price" name="price" min="0" required>
    </div>

    <button type="submit">등록</button>
</form>

</body>
</html>