<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>회원정보 수정</title>
</head>
<body>

<h2>회원정보 수정</h2>

<form th:action="@{/mypage/edit}" th:object="${request}" method="post">

    <p>
        <label for="username">이름:</label>
        <input type="text" id="username" th:field="*{userName}" required />
    </p>

    <p>
        <label for="phoneNumber">전화번호:</label>
        <input type="tel" id="phoneNumber" th:field="*{phoneNumber}" required />
    </p>

    <p>
        <label for="birthDay">생년월일:</label>
        <input type="date" id="birthDay" th:field="*{birthDay}" required />
    </p>

    <button type="submit">수정 완료</button>
</form>

</body>
</html>