<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>로그인</title>
</head>
<body>
<h1>로그인</h1>

<!-- 에러 메시지 표시 -->
<p th:if="${param.error}" th:text="${param.error}" style="color:blue;"></p>

<form th:action="@{/login}" method="post">
    <div>
        <label for="email">이메일:</label>
        <input type="text" id="email" name="email" required />
    </div>
    <div>
        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password" required />
    </div>
    <input type="submit" value="로그인" />
</form>
</body>
</html>